*{
    font-family: Helvetica; 
    color: seashell; 
} 

body{
    background-color: black; 
}

/* Header */
#header{
    height: 69px; 
    font-size: 22px; 
    position: fixed; 
    width: 100%; 
    z-index: 1; 
    top: 0; 
    /* now header doesn't stay attached to top */
    border-bottom: 1px solid seashell; 
    display: flex; 
    justify-content: space-between; /* creates space between div tag with id logo and nav tag with id nav-bar*/  
    align-items: center;   
    background-color: black; 
} 

#logo img{ 
    height: 50px; 
    position: relative; 
    left: 10px; 
    opacity: 0.9; 
} 

#nav-bar{ 
    /* position: relative;   */
    /* right: 200px;   */ 
    width: 40%;  
    display: flex; 
    justify-content: space-around;  

    /* make sure to ask question of positioning of this */  

}   

/* #nav-bar a{
    margin-right: 25px; 
    this is a better option if you're not using display: flex (for nav bar element spacing issue) 
}  */

/* Mission */
#mission{ 
    height: 700px; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    /* when you do justify-content: center and #mission img has width 100%, it doesn't move it. If it has no specified width, it gets centered. 
    Interestingly, if it has a width value such as 200px, it also gets centered. */ 
    background-image: url('https://content.codecademy.com/courses/freelance-1/unit-4/img-mission-background.jpg'); 
    background-size: cover; 
    background-position: center; 
    margin: 40px; 
    background-color: black; 
    position: relative; 
    margin-top: 69px; 
} 

#mission-descrip{
    position: relative;  
    width: 100%; 
    text-align: center; 
    background-color: black; 
}  

/* Tea of the month */  
#tea-month{ 
    display: flex; 
    flex-direction: column; 
    align-items: center; 
} 

#tea-head{
    display: flex; 
    flex-direction: column; 
    text-align: center; 
}

#tea-imgs{
    display: flex; 
    flex-wrap: wrap; 
    justify-content: center;
}  

.tea-card{
    display: flex; 
    flex-direction: column; 
    text-align: center; 
}
.tea-img{
    height: 200px; 
    width: 300px; 
    margin-bottom: 10px; 
} 

/* locations */ 
#locations{ 
    height: 500px; 
    background-image: url('https://content.codecademy.com/courses/freelance-1/unit-4/img-locations-background.jpg'); 
    background-size: cover; 
    display: flex; 
    flex-direction: column;  
    align-items: center; 
} 

#location-head{
    display: flex; 
    margin-bottom: 15px; 
}

#location-cards{
    display: flex; 
}

.location-card{
    height: 300px; 
    width: 300px; 
    opacity: 1; 
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: center;  
    margin-right: 40px;  
    flex-shrink: 1; 
    flex-grow: 1; 
    background-color: black; 
}  

#location-downtown{
    margin-left: 40px; 
    /* so the first card has a 40px margin on the left to equal the third card's 40px right margin */
} 

/* footer */       
#info{ 
    height: 200px; 
    display: flex; 
    flex-direction: column; 
    align-items: center; 
} 

#copyright{
    margin-left: 20px; 
    text-align: left; 
}  

@media (max-width: 1000px){
    .location-card{
        width: 30%; 
    }
}     