*{
    font-family: Helvetica; 
    color: seashell; 
    background-color: black; 
    opacity: 0.9;   
} 

/* Header */
#header{
    height: 69px; 
    font-size: 22px; 
    /* position: fixed;  */
    /* when I do this, it makes the border not as long */ 
    /* z-index: 1  */
    border-bottom: 1px solid seashell; 
    display: flex; 
    justify-content: space-between; /* creates space between div tag with id logo and nav tag with id nav-bar*/  
    align-items: center;   
} 

#logo img{ 
    height: 50px; 
    position: relative; 
    left: 10px; 
} 

#nav-bar{ 
    /* position: relative;   */
    /* right: 200px;   */ 
    width: 400px;
    display: flex; 
    justify-content: space-around;  
    /* border: 1px solid red;   */ 
    /* make sure to ask question of positioning of this */  
}   

/* Mission */
#mission{ 
    height: 700px; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    /* when you do justify-content: center and #mission img has width 100%, it doesn't move it. If it has no specified width, it gets centered. 
    Interestingly, if it has a width value such as 200px, it also gets centered. */ 
    background-image: url('https://content.codecademy.com/courses/freelance-1/unit-4/img-mission-background.jpg'); 
    background-size: cover; 
    background-position: center; 
    z-index: 1; 
    margin: 40px; 

}

#mission-descrip{
    position: relative;  
    height: 10%; 
    width: 100%; 
    text-align: center; 
}  

/* Tea of the month */  
#tea-month{ 
    display: flex; 
    flex-direction: column; 
    align-items: center; 
} 

#tea-head{
    display: flex; 
    flex-direction: column; 
    text-align: center; 
}

#tea-imgs{
    display: flex; 
    flex-wrap: wrap; 
    justify-content: center;
}  

.tea-card{
    display: flex; 
    flex-direction: column; 
    text-align: center; 
}
.tea-img{
    height: 200px; 
    width: 300px; 
    margin-bottom: 10px; 
} 

/* locations */ 
#locations{ 
    height: 500px; 
    background-image: url('https://content.codecademy.com/courses/freelance-1/unit-4/img-locations-background.jpg'); 
    background-size: cover; 
    /* display: flex;  */
    /* flex-direction: column;   */
} 

#location-head{
    display: flex; 
    margin-bottom: 15px; 
}

.location-card{
    height: 300px; 
    width: 300px; 
    opacity: 1; 
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: center;  
    margin-right: 40px; 
}